<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Manager</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script>
            async function loadUsers() {
                let result = await fetch('/user/');
                let data = await result.json();
                
                return data;
            }
            
            //função para criar novo user
            async function addUser(user){
                let result =  await fetch(`/user/save?name=${user.name}&gender=${user.gender}&hairColor=${user.hairColor}`);
                let data = await result.json();
                
                debugger;
            }
        </script>
    </head>
    <body>       
        <div class="container" id="vue-users">
            <h1>Users</h1>
            
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Hair Color</th>
                </tr>
                <tr v-for="user in users">
                    <td>{{user.name}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.hairColor}}</td>
                </tr>
            </table>
            
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" v-model="tempUser.name">                
            </div>
            <div class="form-group">
                <label for="">Gender</label>
                <input type="text" class="form-control" v-model="tempUser.gender">
            </div>
            <div class="form-group">
                <label for="">Hair Color</label>
                <input type="text" class="form-control" v-model="tempUser.hairColor">
            </div>
            
            <button class="btn btn-success" @click="addUser" >Adicionar usuário</button>
        
        </div>
    </body>
    
    <script>        
        var app = new Vue({
            el: '#vue-users',
            data: {
                msg: 'Hello Vue!',
                users: [],
                tempUser: {
                    name: '',
                    gender: '',
                    hairColor: ''
                }
            },
            methods: {
                addUser: async function(){
                    await addUser(this.tempUser);
                }
            },
            mounted: async function() {
                let users = await loadUsers();
                this.users = users;
            }
        })
    </script>
</html>