<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Site</title>

        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <script src="Date.js"></script>
        <script src="util.js"></script>

        <script>
        </script>
    </head>
    <body>
        <!-- Head nav -->
        <div class="container-fluid" id="menu">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-md navbar-light bg-light">
                        <a class="navbar-brand" href="#">My Site</a>

                        <!-- Menu -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                        </ul>

                        <!-- Login -->
                        <form @submit.prevent class="form-inline my-2 my-lg-0" v-if="!session.logged" ref="form">
                            <input class="form-control form-control-sm mr-2" placeholder="Email" type="email" v-model="user.email">
                            <input class="form-control form-control-sm mr-2" placeholder="Password" type="password" v-model="user.password">
                            <button class="btn btn-sm btn-outline-success" type="submit" @click="login">Login</button>
                        </form>

                        <div class="float-right" v-if="session.logged">
                            Logged as <b>{{session.user.name}}</b>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container" id="page">
            <h1>My Site</h1>

            <div v-if="session.logged">
                <h3>Edit Profile</h3>
                <form @submit.prevent class="form-inline" ref="editForm">
                    <input class="form-control form-control-sm mr-2" placeholder="Name" v-model="editUser.name">
                    <input class="form-control form-control-sm mr-2" placeholder="Email" type="email" v-model="editUser.email">
                    <input class="form-control form-control-sm mr-2" placeholder="New Password" type="password" v-model="editUser.password">
                    <button class="btn btn-sm btn-outline-success" type="submit" @click="editInfo">Edit profile</button>
                </form>
            </div>

            <div class="card">
                <div class="card-header">
                    Messages
                </div>
                <div class="card-body">
                    <div v-for="m in messages">
                        <b>{{messageTime(m)}}</b> {{m.text}}
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        var app = new Vue({
            el: '#page',
            data: {
                session: Session,
                editUser: {
                    name: '',
                    email: '',
                    password: ''
                },
                messages: []
            },
            watch: {
                'session.user': function() {
                    if (this.session && this.session.user) {
                        this.editUser = JSON.parse(JSON.stringify(this.session.user));
                        this.editUser.password = '';
                    }
                }
            },
            methods: {
                async editInfo() {
                    let r = await postData('/auth/editInfo', this.editUser);

                    if (r.success) {
                        this.$refs.editForm.submit();
                    }
                },
                messageTime(msg) {
                    let dt = new Date(msg.time);
                    return dt.format('d/m/Y - H:i:s');
                }
            },
            mounted: async function() {
                this.messages = await getData('/message/list');
                debugger;
            }
        });

        let menu = new Vue({
            el: '#menu',
            data: {
                session: Session,
                user: {
                    email: '',
                    password: ''
                }
            },
            methods: {
                async login() {
                    let r = await postData('/auth/login', this.user);

                    if (r.success) {
                        this.$refs.form.submit();
                    }
                }
            },
            mounted: async function() {
            }
        })
    </script>
</html>