<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Site</title>

        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <script src="util.js"></script>

        <script>
        </script>
    </head>
    <body>
        <!-- Head nav -->
        <div class="container-fluid" id="menu">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-md navbar-light bg-light">
                        <a class="navbar-brand" href="#">My Site</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Menu -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                        </ul>

                        <!-- Login -->
                        <div class="form-inline my-2 my-lg-0" v-if="!session.logged">
                            <input class="form-control form-control-sm mr-2" placeholder="Email" type="email" v-model="user.email">
                            <input class="form-control form-control-sm mr-2" placeholder="Password" type="password" v-model="user.password">
                            <button class="btn btn-sm btn-outline-success" @click="login">Login</button>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container" id="page">
            <h1>My Site</h1>
        </div>
    </body>

    <script>
        var app = new Vue({
            el: '#page',
            data: {
                session: Session,
            },
            methods: {
            },
            mounted: async function () {
            }
        });

        let menu = new Vue({
            el: '#menu',
            data: {
                session: Session,
                user: {
                    email: '',
                    password: ''
                }
            },
            methods: {
                async login() {
                    let r = await postData('/auth/login', this.user);
                }
            },
            mounted: async function () {
            }
        })
    </script>
</html>